


<!-- templates/base.html -->

<!-- ... -->

{% if request.user.is_authenticated %}
<div class="navbar-nav ml-auto">
  <a href="{% url 'core:post_create' %}"
    class="nav-item nav-link {% if request.path == '/post/create/' %}active{% endif %}">
    Create a post
  </a>
  <!-- ... -->
{% endif %}

<!-- ... -->

<!-- templates/core/post.html -->

<!-- ... -->

{% if post.image %}
  <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}">
{% endif %}
{% if post.author == request.user %}
<div class="mt-4 mx-3">
  <a class="btn btn-primary" href="{% url 'core:post_update' post.id %}">Edit</a>
  <a class="btn btn-danger" href="{% url 'core:post_delete' post.id %}">Delete</a>
</div>
{% endif %}
<div class="card-text mt-5 p-4">
  {{ post.content }}
</div>

<!-- ... -->

