{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Bloggr App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <header class="navbar-fixed">
      <nav>
        <div class="app-title-wrapper">
            <a href="/" id="app-title">Bloggr</a>
        </div>
        <div class="pages-wrapper">
          <a href="/posts">Posts</a>
        </div>


        {%if user.is_authenticated%}
        <div class="profile-wrapper">
          <p>{{user.username}}</p>
          <a href="{% url 'profile' %}">My Profile</a>
          <a href="{% url 'logout' %}">Log Out</a>
        </div>
        {%else%}
        <div class="profile-wrapper">
          <a href="{% url 'login' %}">Log In</a>
          <a href="{% url 'signup' %}">Sign Up</a>
        </div>
        {%endif%}


      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer">
      <div class="right">
        All Rights Reserved, &copy; 2022 Bloggr App &nbsp;
      </div>
    </footer>
  </body>
</html>
