body {
    margin: 0 0;
}

header {
    background-color: red;
    width: 100%;
    margin: 0 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.app-title-wrapper {
    width: 33.33%;
}

.pages-wrapper {
    width: 33.33%;
    text-align: center;

}

.profile-wrapper {
    width: 33.33%;
    text-align: right;

}

#app-title {
    font-size: 40px;
    text-decoration: none;
    color: white;
}


